div{
	height: 300px;
	width: 400px;
  	background-image: url("https://th.bing.com/th/id/OIP.aLR2TSSkXux3-cbu4IfjMgHaJB?rs=1&pid=ImgDetMain");
}
div:hover{
  background-image: url("https://wallpapers.com/images/hd/cute-doraemon-shizuka-pink-dress-r32zr6hkr4mfhvy6.jpg")
	
}